.ownerBar{

}

.mainPage{
  padding-bottom: 30px;
  text-align: center;
  overflow: auto;
}
.btnContainer{

	text-align: center;
	display: inline-block;
	padding: 250px;
}
.ownerButton{
	display: inline-block;
  margin: 50px;
	height: 250px;
	width: 150px;

}
.sitterButton{
	display: inline-block;
	margin: 50px;
	height: 250px;
	width: 150px;

}
.appContainer{
  text-align: center;
  margin: 75px;
}

.sitterThumbnail {
  border: 1px solid black;
  padding-top: 10px;
  content-bottom: 100px;
  margin-bottom: 20px;
}


.links {
  color: white;
  text-decoration: none;
}

img {

  width: 200px;
  height: 200px;
}